.friend-item {
    display: inline-block;
    width: 30%;
    
}

#form-body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

input, button {
    margin-left: 5px;
}

li {
    list-style-type: none;
    display: flex;
}
